{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
{{ serviceName }} - jinja
{% endblock %}

{% block header %}
<header class="moj-header" role="banner">

  <div class="moj-header__container">

    <div class="moj-header__logo">

      <a class="moj-header__link moj-header__link--organisation-name" href="../index">LFG</a>

      <a class="moj-header__link moj-header__link--service-name" href="../index"> {{ serviceName }}</a>
    </div>
  </div>

</header>
<div class="moj-primary-navigation">

  <div class="moj-primary-navigation__container">

    <div class="moj-primary-navigation__nav">

      <nav class="moj-primary-navigation" aria-label="Primary navigation">

        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="/world/brynderwold">World</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="/adventures/blight-over-brynderwold">Adventures</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="/players/player-one">Players</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="/monsters/monsters">Monsters</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">

    <nav class="moj-side-navigation" aria-label="Side navigation">
      <h4 class="moj-side-navigation__title">Adventures</h4>
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="blight">Blight Over Brynderwold</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="hag-tree">The Hag tree</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="spider-village">Spider village</a>
        </li>
      </ul>
    </nav>

  </div>
  <div class="govuk-grid-column-three-quarters">

    <span class="govuk-caption-xl">Adventures</span>
    <h1 class="govuk-heading-xl">
        2. The Hag tree
    </h1>

    <div class="code-box">
      <h2 class="govuk-heading-l" id="1-blight">Rumours and hooks</h2>

      <p class="govuk-body">Rumpod, a portly and avaricious merchant, seeks
        a prophecy from the hags of the Trackless
        Moors. He is willing to pay generously for some
        adventurers to escort him.<br>A pair of prophetic hags are known to lair within
        a colossal tree in the Trackless Moors. It is said
        the hags enchant the eyes of their victims,
        transforming them into valuable gems.</p> 
    </div>

    <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-6">

    <p class="govuk-body">On the outskirts of the Trackless Moors stands a
      mouldering, long dead tree trunk of colossal size,
      a giant skeleton of calcified branch and bark;
      Izranorae’s Tree.</p> 

      <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-6">

    <h2 class="govuk-heading-l" >The Hag Coven</h2>

    <p class="govuk-body">Named after the hag that originally discovered it,
      the Tree has been home to an unbroken line of
      malevolent hags, and is presently occupied by a
      coven of two: Ixna and Fernelgren.</p> 

    <p class="govuk-body">The hags are sisters of a kind, hideous and
      malformed, bound by dark rituals and fey
      connections mortals cannot fully comprehend. It
      is enough to know however that the hags are
      incapable of directly injuring one another, but
      may do so via third parties.</p> 

    <p class="govuk-body">Years ago, the Tree was also home to a third hag,
      Wompra. Over time the three discovered that
      Izranorae’s Tree was more than just a lair. The
      Tree is also a vessel of mystic convergence, such
      that the power of any hag killed in the vicinity is
      trapped inside its branches for centuries to come.
      More importantly, any living hags residing in the
      Tree may draw on the trapped power to enhance
      their own abilities.</p> 

    <p class="govuk-body">Wompra was the first of the three hags to be
      murdered, care of a deadly doublecross by her
      sisters and some vengeful thuels. Wompra’s
      essence is now trapped, and counts as the third
      hag of the coven as long as Ixna and Fernelgren
      remain in the moors.</p> 

    <p class="govuk-body">The sisters both reside in the Tree, Ixna on the
      northern side and Fernelgren the south. They are
      filled with hate and resentment for each other,
      and bicker constantly, pining for the day of the
      other’s demise. Unfortunately for the hags, they
      require a third party to do their dirty work for
      them.</p> 

    <p class="govuk-body">Ixna & Fernelgren, Hags, AC 13, HD 6, 2
      Claws 1d6+1, 19: the target is cursed and loses 1
      point of Luck, S19 D15 C10 I14 P14 W15 Ch4,
      L8, Mv 30 ft.</p> 

    <p class="govuk-body">A trio of Hags is known as a Coven and multiply
      their powers. If all three hags are within the same
      geographic region (forest, mountains, plains, etc),
      each gains the ability to cast spells as a 6th level
      magic user. If two hags are in the region, they are
      3rd level magic users. A single hag in a region has
      no spell casting ability.<br>Once per lunar cycle, a coven may perform a 1d4 hour ritual to gain
      limited powers of prophecy. Hags may enchant
      the eye of a victim into an Evil Eye, transforming
      it into a precious stone the hag can see through as
      if under the effect of a Sight Beyond Sight spell.
      Hags sometimes gift the Eyes as pendants,
      turning the wearer into an unwitting spy. They are
      protected by 30% Magic Resistance.</p> 

      <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-6">

    <h2 class="govuk-heading-l" >Rumpod’s Offer</h2>

    <p class="govuk-body">Rumpod (early 60’s, mirthless, with a poor
      memory, fond of pretzels), a wealthy pewter
      merchant, is about to be married. He is highly
      superstitious, ridiculously greedy, and dearly
      wishes to know if his impending marriage is a
      smart match. He has heard of the seer like
      powers of the hags, and is willing to pay 500 gold
      for an armed escort to meet them.</p> 

    <p class="govuk-body">Rumpod, AC 12 (leather), HD 1 (4 hp),
      Longsword 1d8, 19: disarm, S9 D10 C7 I13 P8
      W14 Ch9, L4, Mv 30 ft. Rumpod carries a
      longsword for protection, although he does not
      expect to have to use it. He has a bag of gems
      worth 5d100+800 as a gift/payment for the hags.</p> 

      <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-6">

    <h2 class="govuk-heading-l" >Random encounters</h2>

    <p class="govuk-body">Izranorae’s Tree is located about 4 days travel
      into the swampland moors. The moors are
      muddy and humid, filled with spot pools, low
      lying water areas, and flying insects. There is a
      25% chance of a random encounter every 8
      hours. If an encounter occurs, roll 1d10:</p>
    
    <p class="govuk-body">1. 5d4 Projectile Leeches (LFG p.205) are
      lurking in muddy pools, ready to launch
      themselves at passers by.</p> 

    <p class="govuk-body">2. One of the adventurers has wandered
      into a small but deep quicksand pool. A
      Luck (Dex) check is required to grab
      onto a nearby log/vines/edge, to prevent
      sinking. A sinking victim vanishes
      beneath the liquid sand in 1d4 rounds (at
      which point they begin asphyxiating, LFG
      p.78). A Str contest vs Str 16 allows the
      character to claw their way out.</p> 

    <p class="govuk-body">3. A loud, buzzing swarm of 3d10 Stirges
      (LFG p.215) descend on the party, eager
      to siphon their blood. Fire will keep
      them at bay for a time.</p> 

    <p class="govuk-body">4. A chilling, high pitched shriek can be
      heard echoing across the moors,
      repeated back by others from time to
      time. Unless the party take preventative
      measures, 5d6 Urgot (40% chance of an
      Urgozer accompanying them, LFG
      p.218) track the party, waiting until
      nightfall to attack.</p> 

    <p class="govuk-body">5. The dark water here rises to thigh height.
      2d4 Giant Crocodiles (LFG p.191) are
      hiding just below the water line, only
      their nostrils visible. Any adventurers
      carefully scanning the surface gain a Perc
      (Detection) vs Dex (Stealth) contest to
      spot the reptiles waiting in ambush.</p> 

    <p class="govuk-body">6. In a small expanse of bald cypress trees,
      trudging through one foot of brackish
      water, are 1d12 Trolls (LFG p.217).
      They have caught the party’s scent, and
      are on the hunt for juicy manflesh.</p> 

    <p class="govuk-body">7. Poisonous bog fumes are wafting across
      this region, causing dizziness and blurred
      vision. A Luck (Con) check avoids 1d4
      Perc loss.</p> 

    <p class="govuk-body">8. The party’s rations have spoiled, infested
      with strange creepy crawlies and/or their
      eggs. Perhaps the party was unlucky, or
      perhaps something more sinister is at
      work.</p> 

    <p class="govuk-body">9. A solitary Will o’ Wisp (LFG p.220)
      appears out in the fens, flittering playfully
      across the landscape. Occasionally it
      assumes the form of a glowing child. It
      attempts to lure one or more adventurers
      into a quicksand bog (per Encounter 2),
      at which point 2d4 other Wisps also
      converge on the hapless traveller,
      zapping them with their Shock attack.</p> 

    <p class="govuk-body">10. A single Bloodroot Treant (LFG p.217)
      is here, disguised amongst a number of
      mundane trees. It has been slumbering
      for years, but will be awoken by the
      succulent aroma of sentient flesh. It is
      has been a long time between feeds.</p> 

      <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-6">


    <h2 class="govuk-heading-l" >The Tree</h2>

    <p class="govuk-body">When the party finds the Tree, the hags are
      initially friendly, and not surprised to see them
      (they foresaw such in a past divination, albeit only
      in the vaguest terms). They are happy to offer the
      adventurers foul smelling gruel or to read their
      fortunes in carnival style fashion. If the party are
      with Rumpod, the hags will divine a true
      prophecy for him (about his bride to be, a new
      business venture, and a bastard son he is not
      aware of). But before they do so, the party must
      perform a task for at least one of the hags.</p>

      <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-6">
    
      <h2 class="govuk-heading-l" >Ixna’s Task</h2>

    <p class="govuk-body">Some weeks ago, Ixna, the elder of the two hags,
      created a monstrous plant golem with a blood
      ritual, intending to set it upon Fernelgren.</p> 

    <p class="govuk-body">Unfortunately for the hag, “Slorgunt”, as the thing
      has taken to calling itself, refuses to co-operate.
      Instilled with a basic intelligence, the plant golem
      is torn by feelings of hatred, loathing, fury and
      intense sorrow; at its core it doesn’t wish to
      destroy or maim, but it labours under an
      irresistible compulsion to do so. As a result, Slorgunt lurks in nearby moors, hoping for an
      opportunity to confront and then slay its pitiless
      creator. Ixna’s task is to track down and destroy
      Slorgunt as soon as possible - before Fernelgren
      gets wise to its existence.</p> 

    <p class="govuk-body">Slorgunt, Plant Golem, AC 16, HD 9+2, Claw
      1d8+2 and Bite 1d6+1, 19: Sorgunt sprouts
      another clawed arm, which attacks once per
      round, S19 D12 C16 I6 P14 W15 Ch4, L10, Mv
      40 ft.</p> 

    <p class="govuk-body">Sorgunt is a 9 ft humanoid of dead wood, thorns
      and vines, bound together by forbidden magic.
      Unlike most golems, Sorgunt is intelligent and of
      free will (much to Ixna’s surprise and dismay).
      Slorgunt enjoys the usual Golem traits (LFG
      p.199), has 55% Magic Resistance, and Off Turn
      Attacks.</p> 

      <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-6">

    <h2 class="govuk-heading-l" >Fernelgren’s Task</h2>

    <p class="govuk-body"></p> 

    <p class="govuk-body"></p> 

    <p class="govuk-body"></p> 

    <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-6">

    <h2 class="govuk-heading-l" >Fernelgren’s Task</h2>

    <p class="govuk-body"></p> 

    <p class="govuk-body"></p> 

  </div>
</div>

{% endblock %}